<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <h1>new about section</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus
        architecto dicta pariatur amet nesciunt consequatur quia beatae adipisci
        dolore quod, fugiat aliquam facere. Dolorum, aliquam neque eaque sint
        aliquid beatae illum distinctio, consectetur optio voluptatum eveniet
        est eius consequatur dolores accusamus eos voluptatem dolorem ipsa sed
        iste? Officiis, minima perferendis!
      </p>
    </section>
  </body>
</html>
