<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" th:href="@{/css/mystyle.css}" />
    <script src="" th:src="@{js/myjs.js}" defer></script>
  </head>
  <body>
    <div class="container">
      <img src="" th:src="@{/image/official.png}" alt="" />
      <h2>hi</h2>
    </div>
  </body>
</html>
